.site-quality {
  padding-bottom: 94px;
}
.site-quality__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.site-quality__wrapper {
  max-width: 510px;
}
.site-quality__name {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  position: relative;
  margin-top: 0;
  margin-bottom: 61px;
  color: $header-text-color;
  &::before {
    content: "";
    width: 50px;
    height: 3px;
    background-color: $gold-color;
    display: flex;
    margin-left: 430px;
    margin-bottom: 16px;
  }
  &::after {
    content: "";
    background-image: url(/img/export-logo.png);
    display: inline-block;
    width: 275px;
    height: 152px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: -10px;
    right: 30px;
  }
}
.site-quality__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 34px;
}
.site-quality__button {
  width: 256px;
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: $nav-color;
  color: $text-white;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  margin-left: auto;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
  &::before {
    background-image: url("");
  }
}
.site-quality__photo {
  margin-right: -20px;
  width: 750px;
  height: 600px;
  color: $text-dark;
}