.site-quality {
  padding-bottom: 94px;
}
.site-quality__container {
  display: flex;
  align-items: flex-end;
}
.site-quality__wrapper {
  max-width: 510px;
  margin-right: 106px;
}
.site-quality__name {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  position: relative;
  margin-top: 0;
  margin-bottom: 61px;
  color: $header-text-color;
  &::before {
    content: "";
    width: 50px;
    height: 3px;
    background-color: $gold-color;
    display: flex;
    margin-left: 430px;
    margin-bottom: 16px;
  }
  &::after {
    content: "";
    background-image: url("/img/export-logo.png");
    display: inline-block;
    width: 275px;
    height: 152px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: -10px;
    right: 30px;
  }
}
.site-quality__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 34px;
  margin-top: 0;
}
.site-quality__button-box {
  display: flex;
  align-items: center;
  &::before {
    background-image: url("/img/sigin.png");
    content: "";
    width: 85px;
    height: 70px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    margin-left: auto;
  }
}
.site-quality__button {
  width: 256px;
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: $nav-color;
  color: $text-white;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  margin-left: 36px;
  font-size: 18px;
  line-height: 21px;
  z-index: 20;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}
.picture {
  margin-right: -20px;
}
.site-quality__photo {
  margin-right: -20px;
  width: 750px;
  height: 600px;
  object-fit: cover;
  color: $text-dark;
  flex-shrink: 0;
}
@include breakpoint-down (1030px) { 
  .site-quality__wrapper {
    margin-right: 90px;
  }
}
@include breakpoint-down (950px) { 
  .site-quality__wrapper {
    margin-right: 70px;
  }
}
@include breakpoint-down (780px) {
  .site-quality__container {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  } 
  .site-quality__wrapper {
    max-width: 326px;
    margin-right: 0;
    order: 2;
    padding-left: 20px;
    padding-right: 20px;
  }
  .picture {
  margin-right: 0px;
  }
  .site-quality__photo {
    object-fit: cover;
    margin-right: 0;
    margin-bottom: 36px;
  }
  .site-quality__name {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 5px;
    &::before {
      margin-left: 0;
    }
  }
  .site-quality__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
  }
  .site-quality__button-box {
    justify-content: center;
    &::before {
      margin-left: 0;
    }
  }
}
@include breakpoint-down (340px) {
  .site-quality__wrapper {
    max-width: 300px;
    margin-right: 0;
    order: 2;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@include breakpoint-down (320px) {
  .site-quality__wrapper {
    max-width: 280px;
    margin-right: 0;
    order: 2;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@include breakpoint-down (313px) {
  .site-quality__wrapper {
    // max-width: 250px;
    margin-right: 0;
    order: 2;
    padding-left: 20px;
    padding-right: 20px;
  }
}
